{% extends 'blog/base.html' %}
{% load chunks %}

{% block content %}
<div class="row-fluid">
    <div class="span9">
        <h3>{{ post.title }}</h3>

        <span class="label label-inverse">
            <i class="icon-calendar icon-white"></i> {{ post.created }}
        </span><br /><br />

        <div class="post-content">
        {{ post.content }}
        </div>
    </div>
    <div class="span3">
        <small>
        {% chunk 'blog_description' %}
        </small>
    </div>
</div>
{% endblock %}
