{% extends 'blog/base.html' %}
{% load chunks %}

{% block content %}
<div class="row-fluid">
    <div class="span9">
        {% for post in posts %}
        <h3>
            <a href="{% url blog:post-detail post.slug %}">{{ post.title }}</a>
        </h3>

        <span class="label label-inverse">
            <i class="icon-calendar icon-white"></i> {{ post.created }}
        </span><br />
        <br />

        <div class="post-content">
        {{ post.content }}
        </div>
        <br />
        {% endfor %}
    </div>
    <div class="span3">
        <small>
        {% chunk 'blog_description' %}
        </small>

        <hr />

        <strong>Feeds</strong><br />

        <a href="{% url blog:rss-feed %}" class="feed">
            <small>RSS feed</small>
        </a><br />

        <a href="{% url blog:atom-feed %}" class="feed">
            <small>Atom feed</small>
        </a><br />
    </div>
</div>
{% endblock %}
